@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body{
    text-align: center;
    background-image: url(./assets/realistic-neon-lights-background_23-2148907367.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: "Poetsen One", sans-serif;
    color: #003071;
    font-size: 90px;
    border-bottom: solid;
  display: inline
    
}
#testo{
    
    height: 50px;
    width: 300px;
}
::placeholder {
    text-align: center; 
    color:"black";
    font-family: "Poetsen One", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(236, 234, 236);
  
  
}
#bottoneId{
    font-family: "Poetsen One", sans-serif;
    color: white;
    background-image: url(./assets/realistic-neon-lights-background_23-2148907367.avif);
    border-radius: 5px;
    height: 3.5em;
  width: 10em;
}
#form{
    padding-top: 5em;
    padding-bottom: 5em;
}
li{
    color: white;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  font-size: 50px;
  
  padding-bottom: 0.5em;
  padding-right: 5em; }
#lista{
    padding-top: 10em;
}
 #testa{
    display: inline;
} 
#card{
    display: inline-block;
  border: solid #ccbbd9;
  padding: 3em;
  border-radius: 15px;
  background-color: white;
}
#form div{
    padding-top: 1em;
}
    